body {
    margin: 0;
    background-color: #FCF7F0;
    color:black;
}

.Header {
    padding: 10px;
    font-size: large;
    font-weight: 900;
    color: #1E2D35;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.container > label {
    font-size: large;
}
.form-control {
    margin-bottom: 10px;
    height: 200px;
}

.process-code-btn {
    height: 25px;
    font-size: medium;
}

.output {
    margin-top: 20px;
}

label {
    margin-bottom: 7px;
}
